<div class="login-wrapper">
  <div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        type="email"
        name="email"
        placeholder="Email"
        formControlName="email"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        formControlName="password"
        required
      />
      <button class="button" type="submit">Login</button>
      <button class="button flat-button" type="button">
        <a routerLink="/register">Registrarse</a>
      </button>
      
    </form>
    @if(error){
      <p class="error-message">{{ error }}</p>      
    }
  </div>
</div>
