.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f7fa;
}

.login-container {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  justify-content: center;
}

.login-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.login-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #555;
}

.login-container input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-container button .text-only {
  background-color: white ;
}

.login-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: #d2006e;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  transition: background-color 0.2s ease;
}

.login-container .flat-button{
    background-color: transparent;
    color: #d2006e;
}

.login-container .flat-button:hover{
    background-color: transparent;
    color: #96014e;
}

.login-container button:hover {
  background-color: #96014e;
}

.error-message {
  margin-top: 1rem;
  color: #c0392b;
  text-align: center;
}
