<div class="modal-backdrop" (click)="close()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <h2 mat-dialog-title>Crear nueva solicitud</h2>

    <form [formGroup]="form" mat-dialog-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Monto solicitado</mat-label>
        <input matInput type="number" formControlName="amount" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="wid">
        <mat-label>Plazo en meses</mat-label>
        <input matInput type="number" formControlName="termMonths" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Ingreso mensual</mat-label>
        <input matInput type="number" formControlName="monthlyIncome" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Antigüedad laboral (años)</mat-label>
        <input matInput type="number" formControlName="workSeniorityYears" />
      </mat-form-field>

      <div mat-dialog-actions align="end">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          (click)="crearSolicitud()"
        >
          Crear
        </button>
      </div>
    </form>
  </div>
</div>
